.project-section {
  padding: 60px 40px;
  background-color: #ffffff;
  border: 2px solid rgb(143, 197, 18);
}

.project-title {
  font-size: 2rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 2rem;
  text-align: left;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 10px;
  display: inline-block;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}
